<div class="col-md-4 col-sm-6">
  <figure>
    <img src="<%= image %>" alt="img04">
    <figcaption>
      <h3><%= design.title %></h3>
      <h4><%= design.technic %></h4>

      <%= link_to t('more'), design %>
    </figcaption>
  </figure>
</div>