<div class="col-md-4 col-sm-6">
  <figure>
    <img src="<%= image %>" alt="img04">
    <figcaption>
      <%= design.title %>

      <%= link_to t('more'), design %>
    </figcaption>
  </figure>
</div>