<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Disennos</h1>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">

    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <ul class="grid cs-style-2">

        <% @designs.each do |design|%>
            <% image =design.image.url(:card)%>
            <%= render 'form', :image => image, :design => design %>
        <% end %>


      </ul>



    </div>

    <!--<ul class="pager">
      <li><a href="#">Anterior</a></li>
      <li><a href="#">Siguiente</a></li>
    </ul>-->




  </div>
</div>