<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= t('designs.title') %></h1>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <h4><%= t('designs.text') %></h4>
      <hr>

    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <ul class="grid cs-style-2">

        <% @designs.each do |design|%>
            <% image =design.image.url(:card)%>
            <%= render 'form', :image => image, :design => design %>
        <% end %>
      </ul>
    </div>

  </div>

</div>
<% if @designs.count > 6 %>
  <div class="apple_pagination">
    <%= will_paginate @designs, :container => true %>
  </div>
<% end %>