<div class="col-md-4 col-sm-6">
  <figure>
    <img src="<%= image %>" alt="img04">
    <figcaption>
      <%= sculture.title %>


      <%= link_to t('more'), sculture %>
    </figcaption>
  </figure>
</div>