<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= t('scultures.title') %></h1>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <h4><%= t('scultures.text_html') %></h4>
      <hr>

    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <ul class="grid cs-style-2">

        <% @scultures.each do |sculture|%>
            <% image =sculture.image.url(:card)%>
            <%= render 'form', :image => image, :sculture => sculture %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% if @scultures.count > 6 %>
    <div class="apple_pagination">
      <%= will_paginate @scultures, :container => true %>
    </div>
<% end %>