<div class="col-md-4 col-sm-6">
  <figure>
    <img src="<%= image %>" alt="img04">
    <figcaption>
      <h3><%= paint.title %></h3>
      <h4><%= paint.technic %></h4>

      <%= link_to 'Ver Mas', paint %>
    </figcaption>
  </figure>
</div>