<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Pinturas</h1>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <h4><p>La obra pictórica de <strong>Yoe Riba</strong> conceptualiza esencias que trabaja con líneas sueltas llenas de alegrías,
        estén coloridas o no. La trama de ideas que siempre expone en sus obras es la mezcla de lo real llevado a lo
        surreal y lo abstracto según la percepción del propio artista.</p></h4>
      <hr>

    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <ul class="grid cs-style-2">

        <% @paintings.each do |paint|%>
            <% image =paint.image.url(:card)%>
            <%= render 'form', :image => image, :paint => paint %>
        <% end %>
      </ul>
    </div>
  </div>
  <br>

</div>
<% if @paintings.count > 6 %>
    <div class="apple_pagination">
      <%= will_paginate @paintings, :container => true %>
    </div>
<% end %>

