<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= t('paintings.title') %></h1>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <h4><%= t('paintings.text_html') %></h4>
      <hr>

    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <ul class="grid cs-style-2">

        <% @paintings.each do |paint|%>
            <% image =paint.image.url(:card)%>
            <%= render 'form', :image => image, :paint => paint %>
        <% end %>
      </ul>
    </div>
  </div>
  <br>

</div>
<% if @paintings.count > 6 %>
    <div class="apple_pagination">
      <%= will_paginate @paintings, :container => true, :previous_label => t("will_paginate.previous_label"), :next_label => t("will_paginate.next_label")  %>
    </div>
<% end %>

