<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Dibujos</h1>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <h4><p><strong>Yoe Riba</strong> usa en sus <strong>dibujos</strong> diferentes elementos para la creación de estos, el trabajo con las áreas,
        las líneas y la formas. Llena el área de trabajo  enfocándose en crear un mensaje que expone a través
        de sus combinaciones figura compleja – fondo simple.</p></h4>
      <hr>

    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">

      <ul class="grid cs-style-2">

        <% @draws.each do |draw|%>
            <% image =draw.image.url(:card)%>
            <%= render 'form', :image => image, :draw => draw %>
        <% end %>


      </ul>



    </div>

    <!--<ul class="pager">
      <li><a href="#">Anterior</a></li>
      <li><a href="#">Siguiente</a></li>
    </ul>-->




  </div>
</div>