<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Disennos</h1>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <h4><p>La <strong>fotografía</strong> como artes visuales es una técnica que se muestra atractiva y útil para la ornamentación
        y usos profesionales diversos. <strong>Yoe Riba</strong> la realiza logrando gran variedad de imágenes siendo una de sus tesis
        <strong>“No crear escenarios por él”</strong>, sino que los capta de la propia naturaleza, a excepción de los trabajos para sus
        clientes.</p></h4>
      <hr>

    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <ul class="grid cs-style-2">

        <% @photographs.each do |photo|%>
            <% image =photo.image.url(:card)%>
            <%= render 'form', :image => image, :photo => photo %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% if @photographs.count > 6 %>
    <div class="apple_pagination">
      <%= will_paginate @photographs, :container => true %>
    </div>
<% end %>