<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= t('photos.title') %></h1>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <h4><%= t('photos.text') %></h4>
      <hr>

    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <ul class="grid cs-style-2">

        <% @photographs.each do |photo|%>
            <% image =photo.image.url(:card)%>
            <%= render 'form', :image => image, :photo => photo %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% if @photographs.count > 6 %>
    <div class="apple_pagination">
      <%= will_paginate @photographs, :container => true %>
    </div>
<% end %>