<div class="col-md-4 col-sm-6">
  <figure>
    <img src="<%= image %>" >
    <figcaption>
      <h3><%= element.title %></h3>
      <h4><%= element.technic %></h4>

      <%= link_to 'Ver Mas', element %>
    </figcaption>
  </figure>
</div>