<div class="col-md-4 col-sm-6">
  <figure>
    <img src="<%= image %>" >
    <figcaption>
      <h3><%= element.title %></h3>


      <%= link_to t('more'), element %>
    </figcaption>
  </figure>
</div>